
env/*
data/*
dist/*
car_configs/**/data
car_configs/**/logs
car_configs/**/models

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv

.cache
site/*
build

# ansible
*.retry
.vault_pass
.donkey_vault_pass

#IDE
.idea
.spyproject
.pytest_cache
.coverage
.vscode

# codecov
htmlcov/

# PyTorch
lightning_logs
tb_logs
