
env/*
data/*
dist/*

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv

.cache
site/*
build

#IDE
.idea
.spyproject

.pytest_cache

.coverage

.vscode
*.swo
*.swp

# files used during creation and burning of the donkey car image
cookie
*.img
*.zip
dcdisk
id_rsa
id_rsa.pub
*.whl
