
env/*
data/*
dist/*

*.pyc
.ipynb_checkpoints
*.egg-info/
.git.bfg-report
.DS_Store
lag_log.csv

.cache
site/*
build

#IDE
.idea
.spyproject
.pytest_cache
.coverage
.vscode

# codecov
htmlcov/

# PyTorch
lightning_logs
tb_logs
