language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"

before_install:
  - sudo apt-get -qq update
  - sudo apt-get install -y python-numpy

# command to install dependencies
install: "pip install -e ."

# command to run tests
script: python -m unittest

# safelist
branches:
  only:
  - master
  - dev
