language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"

# command to install dependencies
install: "pip install -e ."

# command to run tests
script: python -m unittest

# safelist
branches:
  only:
  - master
  - dev
