alembic==0.8.9
click==6.6
Flask==0.11.1
Flask-Migrate==2.0.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
itsdangerous==0.24
Jinja2==2.8
Keras==1.1.2
Mako==1.0.6
MarkupSafe==0.23
numpy==1.11.2
Pillow==3.4.2
python-editor==1.0.3
PyYAML==3.12
requests==2.12.3
scipy==0.18.1
six==1.10.0
SQLAlchemy==1.1.4
Theano==0.8.2
Werkzeug==0.11.11
