
{% extends "base.html" %}
{% block content %}

	<div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-2">
                <img id="img-stream" class="train-img" src="" />
            </div>
            <div class="col-md-1">
                <button type="button" id="play-stream" class="btn btn-primary btn-lg">
                    <i class="glyphicon glyphicon-play"></i>&nbsp;Play
                </button>
            </div>
        </div>
	</div>

    <script type="text/javascript" src="/static/tub.js"></script>
{% end %}
