
{% extends "base.html" %}
{% block content %}

	<div data-spy="affix" data-offset-top="72">
		<div class="preview">
        	<div class="preview-centered">
        	        <img id="img-preview" class="train-img" src="" />
					<div class="preview-toolbar">
        	        <h3 id="cur-frame">0</h3>
        	        <button type="button" id="split-stream" class="btn btn-primary pull-right">
        	            <i class="glyphicon glyphicon-scissors"></i>&nbsp;Split
        	        </button>
        	        <button type="button" id="play-stream" class="btn btn-primary pull-right">
        	            <i class="glyphicon glyphicon-play"></i>&nbsp;Play
        	        </button>
                    </div>
        	</div>
        </div>
    </div>
	<div id="clips-container" class="container">
        <div class="row">
		    <table class="table">
		      <tbody id="clips">
		      </tbody>
		    </table>
	    </div>
        <div class="row">
            <div class="pull-right">
                <button id="submit" type="button" class="btn btn-danger">
                    Delete Checked Clips!
                </button>
            </div>
        </div>
	</div>

    <script type="text/javascript" src="/static/tub.js"></script>
{% end %}
