@media (min-width: 1600px) {
	.container {
	    width: 1570px;
	}
}

.train-img {
    width: 320px;
	height: 240px;
}

#cur-frame {
    display: inline;
}

img.clip-thumbnail {
    width: 12.5%;
}

tr.active td:first-child,
tr.active td:last-child  {
    background-color: #5bc0de !important;
}

tbody#clips td {
    vertical-align: middle;
}
.affix {
  top: 0;
  width: 100%;
}

.affix + #clips-container {
  padding-top: 272px;
}

.preview {
	width: 100%;
}

.preview-centered {
  width: 320px;
  margin: 0 auto;
}

.preview-toolbar {
    margin-top: 5px;
}

.preview-toolbar button {
    margin-left: 5px;
    width: 92px;
}

.progress .progress-bar {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}
