
{% extends "base.html" %}
{% block content %}

	<body>




	  <style>
	  #selectable .ui-selecting { background: #FECA40; }
	  #selectable .ui-selected { background: #F39814; color: white; }
	  </style>

		<h2> Sessions {{ escape(session['name'])}} </h2>




		<div id="selectable">
		{% for i, img in enumerate(session['imgs']) %}
			<div class="img ui-state-default" id={{i}} data-id="{{ img['name'] }}">
				<img src="/session_image/{{session['name']}}/{{ img['name'] }}" > 

				<span class="desc">Angle: {{img['angle']}}</span>
				<span class="desc">Throttle: {{img['throttle']}}</span>
			</div>

		{% end %}
		</div>

	

	<footer class='footer' >
		<div class="container">
			<button id="deleteButton" type="button" style="padding:5px; margin:5px;">
				Delete Selected
		  </button>

		 <div style="display:inline-block;">
		{% for p in page_list %}
			<span> <a href="./{{p}}"> {{p}} </a> </span> 
		{% end %}
			<a href="./{{this_page+1}}"> <button id="next" type="button" style="padding:5px; margin:5px;">
				Next
		  </button></a>
		</div>

		</div>
	</footer>

	<div class='meta' style="display:none">
		<span id="session_id" data-id={{ escape(session['name'])}}>session_id:  {{ escape(session['name'])}} </span>
	</div>

	<script>
	$( function() {
		var selected_ids = new Array();
		var selected_imgs = new Array();
		$("#selectable").selectable({
		    stop: function( event, ui ) {      
		    	selected_ids = []
		    	$('.img.ui-selected').each(function() {
				    selected_ids.push(this.id);
				    selected_imgs.push($(this).data('id'));
				});     
				console.log(selected_ids)
		    }
		});


	    $('#deleteButton').click(function(){

			    data = JSON.stringify({ 'imgs': selected_imgs, 
			                            'session_id': $('#session_id').data('id'),
			                            'action':'delete_images'});
			    console.log(data)

			  //$.post('', data)
			  $.each(selected_ids, function(index, value) {
			  	id = "#"+value
			  	console.log($(id)[0])
			  	$("#"+value).remove()
			  });
	    	
	    });
	} );
	</script>

	</body>
{% end %}