{% extends "base.html" %}
{% block content %}
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  
  <div class="container">
    <div class="row"> 
      <div class="col-md-12">
        <div class="page-header">
          <h1>Vehicle: {{vehicle['id']}}</h1>
        </div>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <form>
              <label>Steering &amp; Throttle</label>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-resize-horizontal"></span></div>
                  <input id='angleInput' class='form-control' readonly />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-resize-vertical"></span></div>
                  <input id='throttleInput' class='form-control' readonly />
                </div>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success btn-block">Start</button>
              </div>
              <label>Vehicle Options</label>
              <div class="form-group">
                <div class="input-group">
                  <select id="pilot_select" class="form-control">
                    <option> Select Pilot </option>
                    {% for p in pilots %}
                      <option href='?pilot={{p.name}}'>{{ p.name}} </option>
                    {% end %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon-cog"></span></div>
                  <input id='driveMode' class='form-control' readonly />
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon"><span class="glyphicon glyphicon glyphicon-record"></span></div>
                  <input id='recording' class='form-control' readonly/>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col-xs-8 col-sm-5 col-md-5"><!-- center column -->
        <div class="thumbnail">
          <img id='mpeg-image', class='img-responsive' src="/api/vehicles/video/{{vehicle['id']}}"/> </img>
        </div>
      </div><!-- end center column -->

      <div id="joystick-column" class="col-sm-5 col-md-5"> 
        <div class="thumbnail">
          <div id="joystick_container">
            <p>Click/touch to use joystic.</p>
          </div>
        </div><!-- end right col -->

        <div class='meta'>
          <span id='vehicle_id' data-id={{vehicle['id']}}> </span>
        </div>
      </div><!-- end right col -->
    </div>
  </div> <!-- END Container -->


<script type="text/javascript">
  $( document ).ready(function() {
    console.log( "document ready!" );
    driveHandler.load()
  });
</script>

{% end %}