pip
testresources
setuptools
futures
protobuf
pybind11
cython
numpy
future
mock
h5py==2.10.0
keras_preprocessing
keras_applications
gast
grpcio
absl-py
py-cpuinfo
psutil
portpicker
six
requests
astor
termcolor
wrapt
google-pasta
scipy
pandas
gdown