
#joystick_container { 
	position: fixed; 
	bottom:0; 
	right:0; 
	width: 400px; 
	height:40%; 
	border:1pt solid black;
	background-color: rgba(255, 0, 0, 0.1);
}

#mpeg-image {
	width: 400px;
}

@media (max-width: 600px) {
	#mpeg-image {
		position: relative;
		width: 100%;
	}

	#joystick_container { 
		width:100%; 
	}
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 100px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

span.desc {
    padding: 5px;
    text-align: center;
    font-size: 10pt;
}



.videoOutsideWrapper{ 
    width:400px; 
    margin:20px 60px; 
    border:1px solid blue;}
.videoInsideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,0);
}