
#mpeg-image {
	width:100%;
}

#joystick_container {
	text-align: center;
	height: 335px;
	border-color: #bce8f1;
	background-color: #d9edf7;
}

div.session-thumbnails .ui-selecting {
	background-color: #fcf8e3;
	border-color: #faebcc;
}

div.session-thumbnails .ui-selected {
	background-color: #f2dede;
	border-color: #ebccd1;
}

div.session-thumbnails img {
	width: 160px;
	height: auto;
}

div.session-thumbnails .desc {
	margin-bottom:0px;
}

div.session-thumbnails li.thumbnail {
	width:170px;
	float: left;
	margin-right:5px;
}

div.session-thumbnails .caption {
	padding:5px 5px 0px 5px;
}

div.session-thumbnails label {
	padding-left: 0px;
}

div.img-controls {
	margin: 20px 0;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}