
#joystick_container { 
	position: fixed; 
	bottom:0; 
	right:0; 
	width: 400px; 
	height:40%; 
	border:1pt solid black;
	background-color: rgba(255, 0, 0, 0.1);
}

#mpeg-image {
	width: 400px;
}

@media (max-width: 600px) {
	#mpeg-image {
		position: relative;
		width: 100%;
	}

	#joystick_container { 
		width:100%; 
	}
}

div.session-thumbnails img {
	width: 160px;
	height: auto;
}

div.session-thumbnails .desc {
	margin-bottom:0px;
}

div.session-thumbnails .checkbox {
	display:inline;
}

div.session-thumbnails .caption {
	padding:5px 5px 0px 5px;
}

div.session-thumbnails label {
	padding-left: 0px;
}

div.session-thumbnails input[type=checkbox] {
	margin-top: 10px;
	margin-left: 10px;
}

div.img-controls {
	margin: 20px 0;
}

div.img-controls .checkbox {
	margin-top: 5px;
}



.videoOutsideWrapper{ 
    width:400px; 
    margin:20px 60px; 
    border:1px solid blue;}
.videoInsideWrapper{ 
    width:100%; height:100%; 
    position:relative;}
.coveredImage{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}
.coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
    background-color: rgba(255,0,0,0);
}

 

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}