{{ ansible_managed | comment }}

XKBMODEL="{{ keyboard_model }}"
XKBLAYOUT="{{ keyboard_layout }}"
XKBVARIANT="{{ keyboard_variant }}"
XKBOPTIONS="{{ keyboard_options }}"
BACKSPACE="{{ keyboard_backspace }}"