name: Push docs

on:
  push:
    paths:
      - 'docs/**'
    branches:
      - master

jobs:
  mkdocs-build-and-push:
    name: mkdocs and push to docs.donkeycar.com
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - uses: actions/checkout@v2
      - uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: 3.7
          auto-activate-base: true
          channels: defaults, conda-forge
      - run: |
          conda info
          conda list
          conda install mkdocs
          mkdocs gh-deploy
          echo Docs were made and pushed to docs.donkeycar.com